/* html, body { */
    /* height: 100% */
/* } */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

element {
    --urhere-color: #334666
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    background-color: ghostwhite;
}

div {
    overflow: auto;
}

h3, h4 {
    margin: 0;
}

a:link {
    text-decoration: none;
}

#self-picture {
    width: 80%;
    height: 80%;
    padding: 10% 10% 10% 10%;
}

#about-me-container {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

#content-body {
    margin: 0 auto;
    max-width: 70em;
    line-height: 2;
    padding: 0 1em 1em 1em;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    overflow: auto;
    min-height: 100%;
}

#page-head {
    padding-top: 20em;
    font-size: 18px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)), 
        url('res/images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#topline {
    padding: 1em 2em 1em 2em;
}

h1#topname {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    color: white;
}

#social-media-bar {
    display: inline-block;
    float: right;
}

.social-media-button {
    float: right;
    padding: 0 .5em 0 .5em;
    height: 3em;
    display: inline-block;
}

#navbar {
    background-color: black;
    padding-left: 1em;
}

.navbutton {
    display: inline-block;
    padding: 1em 1.5em 1em 1.5em;
    margin-right: -.3em;
    text-align: center;
    vertical-align: middle;
    width: 5em;
    color: white;
}

.navbutton-selected {
    background-color: #344666;
}

.navbutton:hover {
   background-color: white;
   color: black;
}

#page-title {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.portfolio-section {
    margin: 1em;
    overflow: auto;
}

.half-column {
    width: 50%;
    display: inline-block;
}

.section-title {
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 1em;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 10px #888888;
}

.section-content {
    overflow: auto;
}

#music-section-title {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url('res/images/music-section-header.jpg');
    background-position: center;
}

#projects-section-title {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url('res/images/code-section-header.png');
    background-position: center;
}

.subsection-header {
    text-align: center;
}

.portfolio-item {
    margin: 1em;
    padding: 2em;
    font-size: 11pt;
    box-shadow: 0px 0px 10px #888888;
}

#section-menu {
    width: 100%;
    font-size: 18px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

#section-links {
    background-color: black;
    line-height: 1.5;
}

#project-links {
    display: none;
    overflow: visible;
    width: 100%;
}

.project-title {
    margin-top: 0;
    text-align: center;
    font-size: 2em;
}

.project-link {
    padding: .7em 0em .7em 0em;
    width: 100%;
    display: block;
    background-color: #344666;
    color: white;
}

.section-link {
    padding: .7em 2em .7em 2em;
    margin-left: -.25em;
    width: 5em;
    display: inline-block;
    background-color: black;
    color: white;
}

.section-link-on {
    background-color: #344666;
}

.caption {
    font-size: 11px;
}

.project-body {
    padding-left: 3em;
    padding-right: 3em;
}

.project-media {
    margin-top: 2em;
    margin-bottom:2em;
    text-align: center;
}

.section-link:hover {
    background-color: white!important;
    color: black;
}

.project-link:hover {
    background-color: white!important;
    color: black;
}

#resume {
    height: 1200px;
    vertical-align: middle;
}
