@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

element {
    --urhere-color: #334666
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    line-height: 1.5;
    font-family: "Questrial", sans-serif;
    background-color: black;
}

/* div { */
/*     overflow: auto; */
/* } */

h3, h4 {
    margin: 0;
}

a:link {
    text-decoration: none;
}

.self-picture {
    width: 60%;
    height: 60%;
    padding: 5% 20% 5% 20%;
}

#about-me-container {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

#content-body {
    /* margin: 0 auto; */
    /* max-width: 70em; */
    /* line-height: 2; */
    /* padding: 0 1em 1em 1em; */
    /* background-color: white; */
    /* overflow: auto; */
    /* min-height: 100%; */
}

#section-container {
    margin: 0 auto;
    max-width: 70em;
    line-height: 2;
    padding: 0 1em 1em 1em;
    background-color: white;
    overflow: auto;
    min-height: 100%;
}

#page-head {
    font-size: 18px;
    height: 100%;
    position: relative;
    background-color: black;
}

#page-content {
    background-color: white;
    padding: 0;
}

#landing-content {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#bio {
    padding: 5% 15%;
}

.topline {
    padding: .5em 2em .5em 2em;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

#topline-text {
    font-size: 15pt;
    font-family: serif;
    color: white;
}

#go-down-arrow {
    max-width: 3rem;
    max-height: 3rem;
    padding: 1rem;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 1px black;
    animation: 
        float-in-place 1.5s steps(40, end) infinite
}

@keyframes float-in-place {
    from, to { transform: translate(0, 0rem) }
    50% { transform: translate(0, 1rem) }
}

h1#topname {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    color: white;
    font-size: 64pt;
    text-shadow: 2px 2px #000000;
}

.mobile-br {
    display: none;
}


#social-media-bar {
    display: inline-block;
    margin-bottom: 1em;
}

.social-media-button {
    float: right;
    margin: .5em .5em .5em .5em;
    border-radius: 100%;
    height: 3em;
    display: inline-block;
    border: 2px solid transparent;
    transition: 0.2s;
}

.social-media-button:hover {
    border: 2px solid white;
    transition: 0.2s;
    /* box-shadow: 0px 0px 10px white; */
}

/* nav-bar social media button */
.sn-smb {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.sn-smb:hover {
    border: 2px solid white;
    transition: 0.3s;
}

.sn-sml-holder {
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 1em;
    margin-bottom: 3em;
}

.smb-link {
    display: inline-block;
}

#mynavbar {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    position: fixed;
    z-index: 3;
    padding-right: 0.5rem;
}

#mynavbar-branding {
    color: white;
    display: inline-block;
    padding: 0.5em 1.5em 0.5em 0.7em;
    margin-left: 1.5em;
    text-align: center;
    vertical-align: middle;
}

#mynavbar-pic {
    display: inline-block;
    width: 3em;
    height: 3em;
    padding: 0.2em 0.2em 0.2em 0.1em;
    border: 2px solid transparent;
    border-radius: 100%;
    background-color: #289fff;
    vertical-align: middle;
    transition: 0.3s;
}

#mynavbar-pic:hover { 
    border: 2px solid white;
    background-color: goldenrod;
    transform: rotate(360deg);
    transition: 0.3s;
}

#mynavbar-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.7em;
}

#mynavbar-name::after {
    content: "Benjamin Genchel";
}

#mynavbar-links {
    display: inline;
    position: absolute;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
    right: 0;
    top: 0;
    height: 100%;
}

.navbar-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

#menubtn-holder {
    color: white;
    transition: 0.2s;
    padding: 0 1.5rem;
    cursor: pointer;
}

#menubtn-holder:hover {
    color: black;
    background-color: white;
}

#menubtn {
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}

#menubtn:hover {
    text-shadow: 0px 0px #000000;
    transition: 0.2s;
}

#menubtn-bg-holder {
    position: absolute;
    display: inline;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
    right: 0;
    top: 0;
    height: 100%;
}

#menubtn-bg {
    text-align: center;
    transition: 0.2s;
    color: transparent;
    opacity: 0.0;
    height: 100%;
}

/* non landing page menu button */
.nl-menubtn:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.mynavbutton {
    display: inline-block;
    padding: 1.1em 1.5em 1.1em 1.5em;
    text-align: center;
    vertical-align: middle;
    color: black;
    transition: 0.1s;
    width: 250px;
}

.mynavbutton:hover {
   background-color: black;
   color: white;
   /* text-shadow: 2px 2px #000000; */
   transition: 0.1s;
}

.mynavbutton-selected {
    background-color: #344666;
    text-shadow: 2px 2px #000000;
}

.row {
    flex-grow: 1;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  padding: 0;
}

/* Links inside the navbar */
.navbar a {
  /* float: left; */
  color: white;
  text-align: center;
  /* padding: 0.5rem 0.7rem; */
  text-decoration: none;
}

.navbar-brand {
    font-size: 1.15rem;
    padding: 0.5rem 0.7rem;
}


.navbar-sm-icon {
    padding: 0.75rem 0.7rem;
}


.btn {
    padding: 0;
}

#page-title {
    text-align: center;
    position: relative;
    color: white;
    background-color: #444444;
}

#page-title #title-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 40%;
    height: 12em;
    background-color: cornflowerblue;
    opacity: 0.5;
}


#page-title .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-shadow: 2px 2px #000000;
    font-size: 3rem;
}

.parallax {
    height: 13rem;
}

#page-title .parallax {
    filter: blur(3px);
    -webkit-filter: blur(3px);

    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.9;
    z-index: -1;

    height: 35rem;
}

#page-title #projects-header.parallax {
    background-image: url("../res/images/headers/page/projects.jpg");
    background-position: bottom;
}

#page-title #sounds-header.parallax {
    background-image: url("../res/images/headers/page/sounds2.png");
    background-color: black;
    background-position: center;
}

#page-title #sheets-header.parallax {
    background-image: url("../res/images/headers/page/sheets.png");
    background-color: #bbbbbb;
    background-position: center;
}

#page-title #contact.parallax {
    background-image: url("../res/images/headers/page/contact.jpg");
    background-color: black;
    background-position: bottom;
}

.caption { 
    margin: 1rem 1rem 1rem auto;
    width: 80%;
    font-size: 0.82rem;
}

.section-title {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    color: white;
}

.section-content {
    overflow: auto;
}

/* #music-section-title { */
/*     background: linear-gradient( */
/*         rgba(0, 0, 0, 0.5), */
/*         rgba(0, 0, 0, 0.5)), */
/*         url('res/images/music-section-header.jpg'); */
/*     background-position: center; */
/* } */

/* #projects-section-title { */
/*     background: linear-gradient( */
/*         rgba(0, 0, 0, 0.5), */
/*         rgba(0, 0, 0, 0.5)), */
/*         url('res/images/code-section-header.png'); */
/*     background-position: center; */
/* } */

.subsection-header {
    text-align: center;
}

.subsection-container {
    width: 90%;
    padding: 0 0.7rem 1rem 0.7rem;
    margin: 2rem auto 0rem auto;
}

.projects-report {
    width: 80% !important;
}

.subsection-header {
    text-align: center;
    position: relative;
    color: white;
    background-color: #444444;
    overflow: hidden;
}

.subsection-header.sheet-ssh{
    background-color: #999999;
}

.subsection-header .parallax {
    filter: blur(3px); /* scale(1.05);*/
    -webkit-filter: blur(3px); /* scale(1.05); */

    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.9;
    z-index: -1;
}

.subsection-header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-shadow: 2px 2px #000000;
    font-size: 2.5rem;
}

 #about-me.parallax {
    background-image: url("../res/images/headers/section/about-me.jpg");
    background-position: center;
}


#production-subsection.parallax{
    background-image: url("../res/images/headers/section/ableton-bg.jpg");
    background-position: center;
}

#live-subsection.parallax{
    background-image: url("../res/images/headers/section/95jc-wi15-3.jpg");
    background-position: center -30em;
}

#composition-subsection.parallax{
    background-image: url("../res/images/headers/section/transcription-1.png");
    background-position: center;
}

#transcription-subsection.parallax{
    background-image: url("../res/images/headers/section/transcription-1.png");
    background-position: center;
}

.item-title {
    text-align: center;
    margin-bottom: 3rem;
}

.item-title h3 {
    line-height: 1.5;
}

.item-row {
    padding: 0;
}

.item-col {
    margin: auto;
}

.sheets-item-col {
    padding: 3em;
    margin: auto;
}

hr {
    border-color: darkgrey;
    margin: 4rem 0;
}

blockquote {
    color: #666;
    background: none;
    border-left: .2rem solid #d3d3d3;
    display: block;
    padding: 1rem 2rem;
    font-style: italic;
    margin: 0;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 60px;
    position: relative;
    left: -45px;
    top: -30px;
    height: 0;
    color: #7a7a7a;
}

.media-holder {
    text-align: center;
    justify-content: center;
    width: 90%;
    margin: auto 0 auto auto;
    transition: 0.3s;
}

.proj-left-col .media-holder {
    margin: auto auto auto 0;
}

.document {
    border: 2px solid black;
    width: 100%;
    transition: 0.3s;
}

.document-holder {
    padding: 2rem;
    position: relative;
}

.document-holder:hover .document {
    transform: scale(1.05);
    filter: opacity(0.25); 
    -webkit-filter: opacity(0.25);
    box-shadow: 0px 0px 5px 3px grey;
}

.document-holder::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10px, -10px);
    content: "download";
    color: transparent;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    margin: 0 0 -5px -5px;
    border-radius: 100%;
    border: 2px solid black;
    background: url('../res/images/download-button.svg');
    background-size: 2rem; 
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s;
}

.proj-left-col .document-holder::after {
    /* transform: translate(-10px, -10px); */
}

.document-holder:hover::after {
    opacity: 1;
}

.image {
    width: 100%;
    box-shadow: 0 0 5px 2px lightgrey;
    padding: 0.6rem;
}

.image-holder {
    padding: 2rem 1rem 1rem 1rem;
}

#page-descript {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

#footer {
    /* width: 95%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: black;
    color: white;
}

#footer p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
